<div class="date">2024-02-03</div>
<h1 class="title">Käsefondue</h1>

<p>Das Rezept habe ich irgendwo gefunden, minimal abgewandelt und
  so funktioniert es für uns immer perfekt.</p>

<h3>Zutaten für 2 Personen</h3>

<div class='zutaten'>
  <div><span>200g</span><span>Greyezer/Gruyere eher mittelalt, etwas teurer</span></div>
  <div><span>100g</span><span>Emmentaler</span></div>
  <div><span>100g</span><span>Appenzeller eher mittelalt, etwas teurer</span></div>
  <div><span>1</span><span>Knoblauchzehe</span></div>
  <div><span>200ml</span><span>Weißwein trocken</span></div>
  <div><span>20ml</span><span>Kirschwasser</span></div>
  <div><span>1,5 EL</span><span>Mondamin</span></div>
  <div><span>1 Messerspitze</span><span>Natron</span></div>
  <div><span>1</span><span>Baguette</span></div>
</div>
<h3>Zubereitung</h3>
<ol>
  <li>Käse grob hobeln</li>
  <li>Kirschwasser und Mondamin mischen und bereitstellen</li>
  <li>Wein in den Topf auf die Herdplatte</li>
  <li>Knoblauch in den Wein pressen</li>
  <li>Wein erhitzen bis er erste Bläschen bildet</li>
  <li>Käse nach und nach in den Wein geben, dabei unter Wärmezufuhr
  und ständigem Rühren im Wein schmelzen, das Gemisch sollte nicht
  kochen, ist aber immer kurz davor, damit sich der Käse gut
  auflöst</li>
  <li>wenn sämtlicher Käse geschmolzen ist, Mondamin-Kirschwasser
  unterrühren und kurz leicht zum Kochen bringen</li>
  <li>mit Pfeffer würzen</li>
  <li>Natron untermischen</li>
  <li>aufs Richeaud umziehen und beim
    Essen leicht weiterköcheln</li>
</ol>

<h3>Tipps</h3>
<p>Statt Baguette kann man auch Ciabatta nehmen.</p>

<p>Man nimmt lieber nicht den etwas günsitgeren, jüngeren Greyezer und
Appenzeller, denn dann neigt die Fonduemasse dazu im Mund zu Kaugimmi zu
werden. Der ältere Käse scheint dafür zu sorgen, dass die Masse sämig
  bleibt.</p>

<p>Für ein alkoholfreies Fondue haben wir 1:1 Wein durch Apfelsaft und
Kirschwasser durch Zitronensaft ersetzt. Alle Apfelsaftsorten die es
im Supermarkt gab haben 10% Zucker. Das Ergebnis war uns etwas zu süß.
Allerdings essen wir schon lange recht wenig Zucker. Wer kein Problem
  damit hat, Cola zu trinken, dem wird es vermutlich sehr gut schmecken.</p>

