<div class="date">2024-02-15</div>
<h1 class="title">Starting with Emacs lsp-mode for Java development</h1>

<h2>First the Rant</h2>

<p>In ancient times (the 1980s) I learned programming mostly using Emacs
and some key bindings got chiseled into my brain forever. When I
started Java programming in Emacs, support for coding actions based on
compiler output, like quick fixes suggestions, was not available,
sadly. So I switched to Eclipse for Java programming. But my first
  action was to enable Emacs key bindings as far as available.</p>

<p>Only recently, around 2019, I switched mostly to Intellij, because
around that time, Eclipse got weirder by the day. For example on my
Linux with XFCE4, menus tended to be non-functional. And I had hated
the workspace concept of Eclipse from day one. Again Emacs key
bindings were applied as good as possible, several manual rebindings
  included.</p>

<p>Around the same time I also started using vscode for Typescript
programming and again enabled Emacs key bindings, including manual fixes
  as far as I felt the need for.</p>

<p>Then, recently, I started into a sabbatical and thought, hey, nobody
forces you to use Eclipse/Intellij/vscode. How's the support for Java
  in Emacs these days. Could I go back?</p>

<p>But why should I? Well, I never stopped using Emacs for other editing
and all three IDEs have some lacking when it comes to some slickness I
  got used to in my programmer "infancy":</p>

<ul>
  <li><a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Incremental-Search.html">Incremental
  Search</a> (<key>CTRL-s</key>). Yes, all IDEs have some
  support for it, but for me they all feel weird. Take Intellij: the
  left, right, up, down keys either edit the search string or move
  between search results. Weird. In Emacs they all leave incremental
  search and I start editing. Hey, this is <b>incremental</b> search,
  why would I want the left, right key edit the search term. Backspace
  is all I need. And <key>CTRL-s</key>, <key>CTRL-r</key> to jump to
  next or previous is enough, no need to override the up and down
  keys.
  </li>

  <li><a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Transpose.html">Transpose</a>
  adjacent entitites <key>CTRL-t</key>, <key>Meta-t</key>. For single
  characters, this is available in Intelli and Vscode at least, don't
  remember Eclipse, but does any of those have it for words. I often
  in particular missed the latter.
  </li>

  <li><a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Select-Buffer.html">Switch
    Buffer</a> <key>CTRL-x b</key> switches between what others call
    editors, mostly the files that are open. I tweaked all three IDEs
    a lot to get the same super-simple and effective switching, but
    all were weird with modal menu popups showing buffers in weird
    order or even files no longer open and additional possible actions
    I didn't ask for. Not my thing.
  </li>
  <li><a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Undo.html">Undo</a>
    <key>CTRL-x u</key>. Well, this just does not work in most IDEs as
      it does in Emacs. It is this little trick of Emacs to record the
      Undo action itself in the chain of commands which allow you to
      undo the Undo action itself. I remember that I was not only
      slightly confused back then when I used it the first time, but
      once you get the idea, it is just great. But I was told by
      another long term Emacs user that he doesn't like that
      particular Emacs approach at all. So take your pick.</li>
  <li><a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Keyboard-Macros.html">Keyboard
      Macros</a> <key>CTRL-x (</key>in those IDEs are not worth
      talking about, really. I tried one or the other plugin or use
      what is available, but basically they work only half of the
      time. Drop in a command from a menu and shit happens. Not so in
      Emacs. I never came across any action that would freak out
      either recording or replaying a keyboard macro. Where other's
      use repeated search&amp;replace I often use a keyboard macro
      with embedded search to some anchor point, then editing, then
      the next anchor point, some other editing, jump to a defined
      place, like the start of the next line, stop recording. Play!
  </li>
  <li><a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Position-Registers.html">Registers</a>
  are a way to store the current cursor position in a "register" with
  a single character name and later jump back to the place. The IDEs
  have bookmarks, but I found them cumbersome to use. I have
  bound <key>F6</key> to store the cursor position in one fixed
  register and <key>Meta-F6</key> to go back there, so basically just
  one bookmark. This covers 99% of all the cases for me, because who
  could remember more than one bookmark to jump to anyway?
</ul>

<p>So lets see if I can make friend
with <a href="https://emacs-lsp.github.io/lsp-java/">lsp-java</a>
which uses the incremental compiler from eclipse to stay informed
  about the code structure.</p>

<p>As somewhat expected, though, getting started is a bit tough, despite
  the seemingly good documentation.</p>

<h2>Starting with lsp-java</h2>

<h3>Git the .emacs.d</h3>
<p>Reading
the <a href="https://emacs-lsp.github.io/lsp-java/#quick-start">Quick
  Start</a> it is obvious that big things will happen with my to my
hand crafted, dry aged emacs configuration files. So I decided to
preserve the current state and be able to see all the changes by
  checking my <code>~/.emacs.d</code> into a local git repository.</p>

<p>In particular I renamed <code>~/.emacs</code>
to <code>~/.emacs.d/init.el</code> which, according
to <a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Init-File.html">the
manual</a> are equivalent, so that no tricks were needed to include
  the initialization file into git.</p>

<h3>Follow the installation instructions</h3>

<p>Next I basically did what I was told:</p>
<ol>
  <li><a href="https://emacs-lsp.github.io/lsp-java/#install-via-melpa">install
      the package</a></li>
  <li><a href="https://emacs-lsp.github.io/lsp-java/#quick-start">add
      the magic spells</a> (on the same page as the above link)
  </li>
</ol>

<h3>Try it and ... ughhh? ... aaaah!</h3>

<p>Then I opened up the first Java file of a small project of mine. It
looked good, as I noticed that the jdt server was downloaded an
  started a the syntax highlighting was working.</p>

<p>Next I deleted an <code>import some.Stuff</code> line from the code
and nicely, the first use of <code>Stuff</code> was highlighted with
  an error.</p>

<p>But now comes the point I had somewhat expected where Emacs shows that
it does not easily make friends with every odd dev coming along. A bit
of peristence is required at the start. Even for long-term users like
  me. How can I tell it to just fix the missing <code>import</code>?</p>

<p>Even if you don't know the keyboard shortcut of some
function <code>do-stuff</code>, in Emacs you can always invoke it by
typing <key>Meta-x</key> and then enter the function
name, <code>do-stuff</code>, in what is called the
"minibuffer". Intellij has this as <code>find action</code> typically
invoked by hitting <key>SHIFT</key> twice quickly. So I thought it
  should suffice to find the right function name and invoke it.</p>

<p>Somehow I got astray on the <a href="">lsp-ui</a> page and invoked <code>lsp-ui-sideline-apply-code-actions</code>, which sounded
right, but it insisted to tell me: <em>there are no code actions on
  this line.</em> Even the error message seemed to tell me I had the
right function, but, hey, there is nothing to offer. If this was to be
true, the whole thing would be completely useless. Quickly fixing a
  missing import is a must.</p>

<p>Next I tried <key>CTRL-x m</key> to describe the Emacs editing "mode"
for the current file. This usually comes with long lists of key
  bindings available. Sadly not for the lsp stuff. Hmm.</p>

<p>Of course I tried more commands, somewhat randomly picked, to see what
happens. For one, Emacs told me "you could run command ... also with
<key>s-l T a</key>. The "s" is for the <key>Super</key> key. So I
tried this and since I was somewhat slow after the <key>s-l</key>, a
list of alternatives valid after it appeared at the bottom of the
screen, thanks
to <a href="https://github.com/justbur/emacs-which-key">which-key
mode</a> that was installed and activated as part of the whole
thing. Somehow I had never come across this minor-mode before, likely
because I have used Emacs only for simple text editing in the last
years.</p>

<p>But now I am in business because the possibilities are all listed
nicely and it is a matter of exploration to find things that I like to
use. It will surely also enable me to find more documentation as I'll
  see the keywords to search for.</p>

<p>Fixing the wrong import, or other mistakes I entered on purpose, was
now as simple as <key>s-l a a</key> which
invokes <code>lsp-execute-code-action</code>, listed first on the
  lsp-java page. Stupid me.</p>

<p>To be continued.</p>

<p>...June 2024 addition: use Eglot, not lsp-mode. Though I actually
also tried Eglot, but I am back to Intellj. Emacs is still very, very
far from what can be done with IDEs such as Intellij or Eclipse. Sorry
to say this.</p>




                                            
