<div style="display: none">$
  \def\RB{\mathbb{R}}
  \def\QB{\mathbb{Q}}
  \def\CB{\mathbb{C}}
$</div>

<div class="date">2024-02-24</div>
<h1 class="title">Wickeln wir die reelle Achse um einen Kreis</h1>

<h2>Vorgeplänkel</h2>


<p>Die reellen Zahlen, $\RB$, sind schon ein wenig komisch, im Vergleich zu
den rationalen Zahlen $\QB$. Zur Erinnerung, $\QB$ sind die Zahlen die
sich als Brüche von ganze Zahlen ergeben, sowas wie $7/9$, $1/3$ oder
$31415926/10000000$. Man kann sie auch dadurch beschreiben, dass ihre
Darstellung als Dezimalzahl hinter dem Komma nach hinten raus
periodisch wird, das heißt dieselbe Ziffernfolge wiederholt sich
unendlich oft. Die Zahl $1{,}3$ is formal gleich $1{,}30000....$ und
hier ist es nur die $0$ die sich dann unendlich oft wiederholt. Bei
  $10/7 = 1{,}428571\, 428571\, 4286...$ ist es die Folge $428571$.</p>

<p>Aber zwischen den rationalen
Zahlen liegen jeweils nochmal unendlich viele Zahlen die man nicht so
darstellen kann, die irrationalen Zahlen, formal
$\RB\setminus\QB$. Die haben eine Dezimaldarstellung bei der sich eben
nicht eine kurze oder auch lange Folge von Ziffern immer
wiederholt. Es kommen immer wieder andere Kombinationen. Beispiele
  sind $\pi$ und $\sqrt{2}$.</p>

<p>Typischerweise stellt man die reellen Zahlen, $\RB$ als Achse (gerade
Linie) dar, man markiert einen Punkt als $0$, einen als $1$ und
andere Stellen jeweils mit Zahlen die dem Abstand zur $0$
  entsprechen, normiert auf den Abstand der $1$ zur $0$.</p>

<h2>Wickeln wir</h2>

<p>Jetzt kommen wir zum Kreis mit Radius $r=1/2$. Der hat den Umfang
$u=2\pi r =\pi$. Wir markieren einen beliebigen Punkt auf dem Kreis,
sagen wir den bei 6:00 Uhr. Dort heften wir von der reellen Achse die
$0$ an und wickeln dann die positive Seite der reellen Achse um den
Kreis herum und herum und herum und so weiter. Das können wir
  unendlich oft tun, da die reelle Achse ja unendlich lang ist.</p>

<p>Welche Zahlen landen auf diese Weise bei 6:00 Uhr? Die $0$, denn das
haben wir ja so festgelegt. Der Kreis hat den Umfang $\pi$, nach der
ersten Umwickelung landet also die Zahl $\pi$ bei 6:00 Uhr. Nach der
  zweiten Umwickelung landet $2\pi$ bei 6:00 Uhr usw.</p>

<h2>Jetzt die Frage</h2>

<p>Wenn wir uns eine beliebige rationale Zahl wählen, z.B. $1/3$, $67/13$
oder allgemein $q\in\QB$ dann landet die an einer bestimmten Stelle
auf dem Kreis. Wenn wir dann weiter wickeln, <b>wie viele andere
    rationale Zahlen landen an derselben Stelle auf dem Kreis?</b></p>

<h2>Die Antwort</h2>
<p>Tatsächlich landet <b>keine einzige</b> andere rationale Zahl an
  derselben Stelle.</p>

<p>Denn, nehmen wir an, eine andere Zahl $123.../734...$ oder einfach
$a\in\QB$ landet auf der gewählten Zahl $q$. Das bedeutet ja, dass wir
von dem Punkt auf dem $q$ liegt soundso oft einmal ganz rumwickeln
müssen um dann zu sehen wie die Zahl $a$ an derselben Stelle
landet. Wie weit ist die umwickelte Strecke? Ein ganzzahliges
Vielfaches vom Kreisumfang, also von $\pi$. Sagen wir $k\pi$ für eine
ganze Zahl $k$. Dann gilt aber $q + k\pi = a$. Stellt man das um, dann
  gilt</p>

$$\pi =\frac{a-q}{k}\,.$$

<p>Auf der rechten Seite stehen nur rationale Zahlen und es werden nur
die Grundrechenarten verwendet. Dann muss die rechte Seite eine
rationale Zahl sein. Aber wir wissen, dass $\pi$ irrational ist, was
bedeutet, dass die Annahme falsch war: es gibt keine Zahl $a$ die an
  derselben Stelle wie $q$ landet.</p>

<p>Kann man das irgendwie intuitiv einordnen. Jeder versteht was anderes
  unter Intuition, aber ich biete folgendes an:</p>

<ul>
  <li>Der einer Zahl, aus $\QB$ oder nicht, zugeordnete Punkt hat
  keine Ausdehnung, also "Breite" $0$. Kein Wunder das beliebig viele
    von denen auf einen Kreis passen.</li>
  <li>Die rationalen Zahlen sind in den reellen Zahlen sehr dünn
  gesäht, deshalb passen die ohne Kollision auf den Kreis.
  </li>
</ul>

<p>Zum zweiten Punkt kann man sich als Vergleich heranziehen, dass die
irrationalen Zahlen dauernd kollidieren. Starte ich bei einer
irrationalen Zahl, sagen wir $\sqrt{2}$, dann kollidiert die mit
lauter anderen irrationalen Zahlen, nämlich mit allen $b=k\pi +
\sqrt{2}$ für beliebige ganze Zahlen $k$. Wie wir gerade gesehen haben,
  kann darunter ja maximal eine rationale Zahl sein.</p>
