<div class="date">2022-07-17</div>
<div class="update">2022-09-20</div>
<h1 class="title">Alien Contact</h1>
      
Many science fiction stories which include contact with aliens assume
<ul>
  <li>they come here,</li>
  <li>and start a war to kill us all.</li>
</ul>

Not only gets this boring. It is physically and logically unlikely and
unsatisfactory.

Logically, because whatever the technology, there is a high chance
that it is still an extreme effort to travel throught the vast
emptyness of the universe. All this to kill and destroy what you
find. That's what humans tend to do, and even we know by know it is
idiotic. So once an alien race lived long enough to know how to travel
around the universe, they probably overcame this behaviour.

Physically, because the physical laws, as far as we understand them,
don't allow faster-than-light travel of either mass/energy or
information &mdash; if there is a difference at all between the
two. So the science fiction author usually assumes one of the
following:

  
<ol>
  <li>The aliens are assumed really, really patient, long living creatures
  having no problem to visit places with traveling times in the
  several thousand years in between. Their personal experience of the
  travel time may be a bit shortened if they manage to accelerate
  their space ships to near light speed. Apart from the problem of
  taking along or harvest enough energy for the acceleration and
  deceleration phases, these phases alone make sure travel time is
    really long.</li>
  <li>They understand physics better than us and overcame
    faster-than-light travel restrictions for mass/energy.</li>
</ol>

What I am missing so far &mdash; and I may well just not be aware of
it &mdash; is a story in which the contact is not physical, with the
problems described above, but just via information exchange.

<h2>Thought's on Faster-Than-Light Information Exchange</h2>
What if, instead of transporting mass/energy faster-than-light, we
find out that physics has a loophole which at least allows to send
information faster-than-light, even instantaneous?

<p>It would open the possibility of alien contact while pre-empting
the idea that alien contact means war. Rather it could be an
interesting story of how the scientific breakthrough happens and what
ensues. Some notes:</p>

<ul>
  <li>Assume instantaneous information exchange.</li>
  <li>Assume there is more than one channel, like frequency channels, but not unlimited many.</li>
  <li>Scientiest may first build a sender/receiver and exchange a few bits in the laboratory.</li>
  <li>Very soon they start listining into the universe.</li>
  <li>Assume we are not alone and some or even many aliens know for long how to communicate this way.</li>
  <li>We tune into some of the channels and understand nothing at first. There are several obstacles, and here I am just extapolating from current radio signal technology:</li>
  <li>We may not know exactly how to encode a bit or, rather, there could be many ways to encode bits.</li>
  <li>Bit sequences may be compressed for better efficiency &mdash; or maybe not, because sending the signal costs no energy. But generating a bit still will cost energy. Further assume one bit has a time associated not to transmit, but just its representation. So surely they use compression.</li>
  <li>But what do the bits mean. How are they to be assembled into bigger chunks, call it characters or words.</li>
  <li>Even if we get the multi-bit chunks, what do they mean.</li>
  <li>What if a signal is spread over several of the channels mentioned above for shorter message length, will be understand that.</li>
  <li>Will it cost a lot of energy or time to generate a bit and a civilization can only afford to send the a few bits per day or will it be so dirt cheap like chatting on the Internet today?</li>
  <li>Will aliens have prepared easy to decipher welcome messages to help onboarding newcomers, because that happens all the time?</li>
  <li>What will they talk be about?</li>
</ul>

Of course the ultimate question would be: what would we learn from them?

  

    
