<div class="date">2022-07-21</div>
<h1 class="title">Grundeinkommen</h1>

<p>Nicht die Kosten sind das Problem.</p>

<p>Arbeit die keiner freiwillig machen würde, wird nicht mehr
gemacht. Ich kann mir viele Jobs vorstellen, die ich nur machen würde,
wenn es absolut notwendig ist, Geld zu verdienen. Das ist sicher von
  Mensch zu Mensch unterschiedlich.</p>

<p>Zur Zeit werden Jobs ganz grob danach bezahlt, wie viele Personen in
der Lage sind, den Job gut zu machen, ganz entfernt ein bischen wie
echte freie Marktwirtschaft entsprechend Angebot und
Nachfrage. Allerdings ist fast jeder gezwungen, irgendeinen Job zu
machen, so dass eben die Jobs, die wenig spezialisierte Kenntnisse
erfordern von vielen Menschen "angeboten" werden und entsprechend
  schlecht bezahlt werden.</p>

<p>Sobald wir ein echtes bedingungloses Grundeinkommen haben, ist das
Angebot von Arbeitskraft nicht nur noch grob von der notwendigen
Qualifizierung abhängig, sondern auch davon, für wie "beschissen" ein
Job von den meisten Menschen eingeschätzt wird. Dementsprechend sinkt
für die dann das Angebot und entsprechend wird der Preis steigen
&mdash; zumindest insoweit die Theorie des freien Marktes zum Zuge
  kommen kann.</p>

<p>Was die wirklich "beschissenen" Jobs sind, würde sich dann schnell
  zeigen. Jeder Leser hat sicher ein paar Kandidaten im Kopf.</p>

<p>Insofern ist die Diskussion über die direkten Kosten der Auszahlung
von X€ als Grundeinkommen wohl eher vorgeschoben. Die größten Kosten
kommen auf alle Verbraucher zu, weil plötzlich für bisher billige
Arbeitskraft richtig in die Tasche gegriffen werden muss &mdash; bis hin zu
  Situationen in denen bestimmte Jobs gar nicht mehr gemacht werden.</p>
