<div class="date">2022-06-17</div>
<h1 class="title">Monomorphism</h1>
      
<div class='definition'>
  In Category Theory, a <b>monomorphism</b> is a morphism $f:X\to Y$ for which
the following condition holds: 
For any two morphisms 
$g_1, g_2: Z\to X$
the identity $f\circ g_1 = g\circ g_2$ induces $g_1 = g_2$.
</div>

<h2 id="injective">As an Injective Function</h2>
Monomorphisms are the categorial way to describe an injective
function, <b>in that an injective function on sets is always a monomorphism.</b>

<p>Let $f:X\to Y$ be an injective function for the sets $X$ and $Y$. This
in particular means that there is a function $h:f(X)\to X$ such that
$h(f(x)) = x$ for all $x\in X$.

Now lets have another set, $Z$, and two functions $g_1, g_2: Z\to X$
such that $f\circ g_1 = f\circ g_2$ which means in particular that
$$f(g_1(z)) = f(g_2(z))$$ for all $z\in Z$. Therefore we get for each $z$
</p>


$$\begin{align*}
    g_1(z) &= h(f(g_1(z)))\\
    &= h(f(g_2(z))) \\
    &= g_2(z)\,.
\end{align*}$$

This means that $g_1=g_2$, and hence that $f$ is a monomorphism.

<h2 id="note">To Note</h2>
The categorial way to define a monomorphism cannot talk about the
elements of the category's objects, because they have none, but it
nevertheless manages to define an injective function.
