--DRAFT--
<div class="date">2023-10-28</div>
<h1 class="title">Was ist Wirtschaftswachstum?</h1>

Wenn ich hier von Wirtschaftswachstum oder Wachstum rede, meine ich
immer Nettowachstum, also pro Einwohner
und <a href="https://de.wikipedia.org/wiki/Wirtschaftswachstum#Begriffe">inflationsbereinigt
  bzw. real</a>.


XXXXX Lies Wikipedia zu Wirtschaftwachstum, da steht eigentlich alles
drin.



1) Wachstum === Status halten

2) Einmal pro Jahr neue Schuhe kaufen reicht nicht.

3) Ausufernde Werbung ... wir sind am Konsumlimit.

