<div class="date">2022-08-31</div>
<h1 class="title">How Free is the Free Market</h1>

<p>There is lots of theory about the "Free Market" and how it optimizes
certain things. What it optimizes exactly can be read in good books
about economy. The one thing though, that should be kept in mind is
that there is no free market in the theoretical sense and, even more,
  the "free" should not be overinterpreted.</p>

<p>What does the "free" in "Free Market" mean exactly. Sure the books
have good definitions. But often those definitions are not used on
public debate. Rather some proponents pretend "free" means that a
particular rule or regulation under discussion makes it non-free, the
  subtext being that any rule is bad.</p>

<p>Consider this for a second: every rule is bad because it makes the
market non-free. Ehem, so the rule that you shall not torch your
competitors factory or just shoot his top engineer is bad. Seriously?
  Or is that not a rule for some reason?</p>

<p>On the other end of the spectrum there might be a rule that a cup of
coffee, 0.2l, no sugar, no milk has to have 33°C when sold and costs,
tax included, 1.33€. No doubt we should have serious doubts whether
  such a rule make sense at all.</p>

<p>The point is: there are rules and regulations in the market. Whether
and when you call it "Free Market" in the public discussion &mdash; as
opposed to a well defined scientific setting &mdash; is completely
irrelevant. Each and every rule and regulations needs careful
considertation and political and socio-economic discussion. Yet the
argument that it makes the market less free or non-free is no argument
  but just unhelpful garbage.</p>
