<div class="date">2024-01-15</div>
<h1 class="title">Bolaggio, italienischer Eintopf, Variation</h1>

Im Original wird das Rezept mit Schweinefleich formuliert, Bauch und
Schulter.

<h3>Zutaten für 4 Portionen</h3>

<div class='zutaten'>
  <div><span>500g</span><span>Lammgulasch</span></div>
  <div><span>2</span><span>Zwiebeln</span></div>
  <div><span>250g</span><span>Möhren</span></div>
  <div><span>1</span><span>Weißkohl (ca. 600g)</span></div>
  <div><span>2 Zehen</span><span>Knoblauch</span></div>
  <div><span>3 El</span><span>Olivenöl</span></div>
  <div><span>400g-Dose</span><span>Tomaten stückig</span></div>
  <div><span>360g-Glas</span><span>kleine weiße Bohnen</span></div>
  <div><span>250ml</span><span>Fleischbrühe aus fertiger Rinderbouillon</span></div>
  <div><span>&mdash;</span><span>Peffer, Thymian, Rosmarin, Paprika edelsüß, Chiliflocken</span></div>
  <div><span>1 Bund</span><span>Petersilie</span></div>
</div>

<h3>Zubereitung</h3>

<ol>
  <li>Zwiebeln, Möhren und Weißkohl, Knoblauch schippeln</li>
  <li>Außer der Petersilie alles in einen feuerfesten Topf mit Deckel geben</li>
  <li>2h bei 200°C im Ofen garen</li>
  <li>Petersilie schnippeln und unterheben</li>
</ol>
