<div class="date">2023-04-14</div>
<h1 class="title">Fakten zur Energie</h1>


Bei der Diskussion um erneuerbare Energien ist es immer gut einige
Fakten und Größenordnungen vor Augen zu haben. Insbesondere sind
Meldungen in der Presse immer einordnungsbedürftig. Ist ein
Jubelartikel zum Windpark mit 10MW zum Jubeln? Nein ist er nicht.
Eine einzelne Windkraftanlage hat schon zwischen 5 und 18MW (Frühjahr
2023).

<h3>Große Windkraftanlage erhältlich "von der Stange", Frühjahr 2023</h3>
<ul>
  <li>offshore 15MW, z.B. Vestas V236-15.0MW</li>
  <li>offshore 18MW, CSSC Haizhuang H260-18.0</li>
</ul>

<h3>Jährlicher Energieverbrauch in Form von Strom in Deutschland</h3>
<ul>
  <li>500 TWh in 2022</li>
  <li>Anstieg über die nächsten Jahr erwartet wegen Elektrifizierung
    auf 1000 TWh.</li>
</ul>

<h3>Energiespeicher</h3>
<a href="https://www.energy-storage.news/energy-dome-turning-a-greenhouse-gas-into-a-cheaper-form-of-energy-storage-than-lithium-ion-batteries/">Energy
  Dome</a>, Energiespeicher per Umsetzung zwischen flüssigem und
  gasförmigen CO$_2$.

<ul>
  <li>Errichtung: 220€/kWh für </li>
  <li>Kapazität und Leistung: 20MW$\times$10h</li>
</ul>

<a href="https://www.energy-storage.news/invinity-moves-to-30-50mwh-deployment-sizes-with-uk-project-targets-100mwh-by-2025/">Vanadium Redox Flow</a>
<ul>
  <li>Errichtung: 430€/kWh </li>
  <li>Kapazität und Leistung: 7MW$\times$4.3h</li>
</ul>



