<div class="date">2024-05-19</div>
<h1 class="title">Fermi Paradox, Yet Another Hypothesis</h1>

<p>The <a href="https://en.wikipedia.org/wiki/Fermi_paradox">Fermi
Paradox</a> describes the confusing fact that we don't have made
contact with alien civilizations despite there being gazillions of
galaxies, stars and planets in the universe and we don't have a reason
  to assume that Earth is extremely special.</p>

<p>As Fermi is reported to have put it: "Where is everybody?"</p>

<p>For an explanation, Wikipedia lists over 20 hypothesis, one of which
is the <a href="https://en.wikipedia.org/wiki/Zoo_hypothesis">Zoo
Hypothesis</a> whereby aliens avoid us similar to how people avoid
  wild animals in a zoo: to not disturb them or to not get harmed.</p>

<p>I would like to add an additional twist of the Zoo Hypothesis: assume,
contrary to our current best physical theories, instantaneous
  communication (IC) is possible.</p>

<p>According to what we know, transmitting information requires
transmitting energy. The limiting speed is the speed
of light, which is boringly slow considering the distances in the
  universe which can be billions of light years.</p>

<p>But if we assume that</p>
<ul>
  <li>we can transmit information without the need to also transmit
    energy and</li>
  <li>this can be done without time delay, i.e. instantaneous,</li>
</ul>

<p>the Fermi Paradox could be explained as follows: nobody barks at a
  dog.</p>

<p>Put another way:</p>

<p><blockquote style="color: #364">Once an alien civilization learns
about IC, they tune into the cacophony of inter-galactic communication
and have no reason to emit slow moving electromagnetic waves for
    communication or travel physically around the universe.</blockquote></p>

<p>There is so much to learn and communicate that it is a waste of time
trying to reach life forms, like humans, which are somewhat
intelligent but did not learn the IC trick yet. Just wait a bit and
  they'll figure it out. And if not, who cares.</p>

<p>There are two interesting conclusions if the above is true:</p>
<ol>
  <li>The Fermi Paradox is a hint that IC is possible.</li>
  <li>We are not far from finding out. If it would take ages from
  inventing radio communication to figuring out IC, we again would
  have to expect gazillions of alien civilizations lighting up the
  electromagnetic spectrum.</li>
</ol>


