<div class="date">2024-08-03</div>
<h1 class="title">Tomatenauflauf mit Pane Carasau</h1>

<p>Dies ist kein richtiges Rezept, da wir das jedesmal nach Belieben etwas
  variieren und ich die Zutatenmengen nie wirklich abgewogen habe.</p>

<p><a href="https://de.wikipedia.org/wiki/Pane_carasau">Pane Carasau</a>
ist ein traditionelles Flatenbrot aus Sardinien. Wir bekommen es
manchmal beim italienischen Lebensmittelhändler um die Ecke oder bei
  unserem Bioshop. Frisch gekauft ist es sehr knusprig, in dem
  Auflauf wird es schön flauschig.</p>

<h3>Zutaten</h3>

<p>Die Mengen sind Schätzungen.</p>
<div class="zutaten">
  <div>
    <span>1-2 Lagen pro Auflaufebene</span>
    <span>Pane Carasau</span>
  </div>
  <div>
    <span>6 Stk</span>
    <span>große Tomaten (oder eine große Dose stückige)</span>
  </div>
  <div>
    <span>2 Stk</span>
    <span>Mozarella</span>
  </div>
  <div>
    <span>1 Stck</span>
    <span>große Zwiebel</span>
  </div>
  <div>
    <span>1 Stck</span>
    <span>Knoblauchzehe</span>
  </div>
  <div>
    <span>&mdash;</span>
    <span>Oregano, Thymian, Pfeffer</span>
  </div>
  <div>
    <span>300 g</span>
    <span>Hackfleisch oder frische Pilze (optional)</span>
  </div>
 </div>

<h3>Zubereitung</h3>

<ol>
  <li>Zwiebeln, Knoblauch kleinschneiden und (optional mit Hack/Pilzen)
    andünsten/anbraten</li>
  <li>Zutaten in eine Auflaufform schichten, 3 Schichten jeweils wie folgt:
    <ol>
      <li>Pane Carasau</li>
      <li>Tomaten</li>
      <li>Mozarella</li>
      <li>Zwiebeln/Knoblauch (Hack/Pilze)</li>
      <li>Gewürze</li>
    </ol>
  </li>
  <li>Im vorgeheizten Ofen bei 150°C Umluft garen, circa 40 Minuten.</li>
</ol>


