<div class="date">2022-10-15</div>
<h1 class="title">Wie motiviert man Ärzte ihre Patienten zu heilen</h1>

<p>Wir haben in Deutschland ein gutes Gesundheitssystem &mdash;
zumindest im Vergleich zu vielen anderen Staaten dieser Welt. Aber es
  hat natürlich auch seine problematischen Seiten.</p>

<p>Ärzte müssen und sollen Geld verdienen um die Praxis und die
Angestellten zu bezahlen und natürlich auch für den eigenen
Lebensunterhalt. Somit sind Patienten auch zahlende Kunden. Heilt
ein Arzt auf wundersame Weise plötzlich alle Patienten, geht er
  Pleite.</p>

<p>Gut, das ist unrealistisch und in Deutschland können sich die meisten
Praxen vor Arbeit kaum retten. Nehmen wir also an, dass der Arzt seiner
natürlichen Neigung folgen kann und Patienten heilen will und nicht
  mutwillig die Heilung hinauszögert, weil er zu wenige Patienten hat.</p>

<p>Dann hat der Arzt dennoch an vielen Punkten Entscheidungen zu treffen
  wie</p>
<ul>
<li>Welche nächste Diagnosemaßnahme A, B, ... ist notwendig um ein gutes
  Krankheitsbild zu haben, oder weiß ich schon genug um mit der
  Behandlung anzufangen?</li>
<li>Welche Behandlung X, Y, ... ist die richtige?</li>
</ul>

<p>Leider führt aber jede Entscheidung A, B, ..., X, Y, ... einerseits zu
Kosten und andererseits potentiell zu Einnahmen für die Praxis,
kostendeckend oder nicht, je nach Regelungslage der Verordnungen im
  Gesundheitswesen.</p>

<p>In einer idealen Welt trifft (a) der Arzt diese Entscheidungen ohne auf
Kosten und Einnahmen zu schauen, alleine danach was seiner fachlichen
Einschätzung nach das Beste für den Patienten ist, und (b) führen
diese Entscheidungen nicht in den Ruin der Praxis, sind also im Mittel
  mindestens kostendeckend.</p>

<p>Leider leben wir nicht in einer idealen Welt.:-(</p>
