<div class="date">2022-07-24</div>
<h1 class="title">About This Site</h1>

Email me: <a href="mailto:harald.kirsch@posteo.de">Harald Kirsch</a>.

<h2>Find me there</h2>
<ul>

  <li><a rel="me" href="https://nrw.social/@HaraldKi">Mastodon</a></li>
  <li><a target="fromHarald" href="https://codeberg.org/harald">Codeberg</a></li>
  <li><a target="fromHarald" href="https://stackoverflow.com/users/2954288/harald">stack overflow</a></li>
  <li><a target="fromHarald" href="https://github.com/HaraldKi">GitHub</a></li>
</ul>

<h2>How</h2>

This blog is created
with
<a target="fromHarald" href="https://codeberg.org/harald/pages/src/branch/main/src/main/java/blog">my
  own quick and dirty site generator</a>.

<div style="text-align: center">
  <img stu src="./images/RedOrangPercent.png">
</div>
