<div class="date">2024-03-06</div>
<h1 class="title">Kidney-Bohnen Chili</h1>

<p>Das Rezept habe ich selbst "erfunden", obwohl natürlich klar ist, dass
ich das in ähnlicher Form irgendwo gegessen oder gelesen habe. Die
Kombination von Bohnen, Tomaten, scharf gewürzt und etwas Sähmigkeit
  durch den Feta ist sehr lecker.</p>

<p><b>Aufpassen:</b> der Feta und je nach Marke auch die Bohnen aus der Dose
bringen bereits <b>Salz</b> ins Gericht. Wenn das nicht reicht, lieber erst
  auf dem Teller nachsalzen.</p>

<h3>Zutaten für 2 Personen</h3>

<div class='zutaten'>
  <div><span>2</span><span>Zwiebel</span></div>
  <div><span>1</span><span>rote Paprika</span></div>
  <div><span>1/2</span><span>Staude Stangensellerie</span></div>
  <div><span>400g-Dose</span><span>Kidney-Bohnen</span></div>
  <div><span>350g-Glas</span><span>Dicke Bohnen</span></div>
  <div><span>100g</span><span>Feta</span></div>
  <div><span>400g-Dose</span><span>Tomaten stückig</span></div>
  <div><span>3</span><span>Knoblauchzehen</span></div>
  <div><span>2 EL</span><span>Tomatenmark</span></div>
  <div><span>1 EL</span><span>Paprika Edelsüß</span></div>
  <div><span>3 EL</span><span>Olivenöl</span></div>
  <div><span>&mdash;</span><span>Bratöl</span></div>
  <div><span>&mdash;</span><span>Pfeffer, Thymian, Chili (scharf nach Wunsch)</span></div>
 
</div>

<h3>Zubereitung</h3>
<ol>
  <li>Bohnen abspülen</li>
  <li>Paprika, Stangensellerie waschen und würfeln</li>
  <li>Zwiebel würfeln in wenig Bratöl anbraten</li>
  <li>Paprika, Stangensellerie zugeben und kurz mit andünsten</li>
  <li>Bohnen, Tomaten, Knoblauch, Gewürze, Öl zugeben und garkochen (Bisstest Paprika)</li>
  <li>Feta würfeln und untermischen</li>
</ol>
