<div class="date">2024-06-04</div>
<h1 class="title">Java Wishlist: Thread Safety</h1>

<p>In the 1990s I felt proud to know
  Plauger's <a href="https://www.abebooks.de/9780131315099/Standard-Library-P.J-Plauger-0131315099/plp">The
  Standard C Library</a> nearly by heart, as well as many of the tools
  C has ready for you to really screw up. Many of the latter gather
  around fails to do the right thing with bytes provided by memory
  allocation, <code>malloc()</code>.</p>

<p>It was a revelation to start coding in Java. Suddenly I could
concentrate on the programming problem to solve, rather than
remembering shit like <em>you shall not use <code>scanf("%s",
buf)</code></em> because it may write over the end
of <code>buf</code>.</p>

<p>Then came multi-core computers and multi-threaded Java progams. And
over time I realized that a developer's responsibility around Java's
thread communication is as shitty as it is in the area of C's memory
handling. You have to remember stupid things that have nothing to do
with the problem you want to solve.</p>

<p>Wooooowoaaa, wait, Harald. There are those great tools like
synchronization and queues and concurrent maps and thread local
variables and all that. Ehem, so what. Just consider a class like</p>

<pre class="lang-java">
  public class Stuff {
    public long value;
  }</pre>

<p>If an  object of this  class gets into the  hands of more  than one
thread at a  time, both changing the public value,  the result may not
just be  last-writer-wins, but could  be a  fucked up mixture  of both
values, because ...?   Well, why? You, as the developer,  know why? And
this is the problem.</p>

<p>If you develop in Java long enough, you may not even notice any more
that we have a problem here. Like you don't touch a hot oven, like you
don't walk over a red light on a busy street. Yet, despite knowing,
  people burn themselves and get run over.</p>

<h2>My Wish</h2>

<blockquote>The developer should not need to know or care about
  whether a class being designed may be used concurrently or
  not.
</blockquote>

<p>I am not asking the impossible of preventing logical problems inherent
to multi-threading. If the value of an object of
<code>Stuff</code> is set to -3 and 18 "at the same time", then of
course one or the other must survive, we can't have both. But the
value should be one or the other, not some garbage because the two 4
byte parts making up the long are changed non-atomicly.</p>

<p>But, Harald, we already have this: just declare the whole class
  as <code>synchronized</code> and introduce setter and getter:</p>

<pre class="lang-java">
  public synchronized class Stuff {
    private long value;
    void set(long value) { this.value = value; }
    long get() { return value; }
  }
</pre>

<p>Oooh, we have this? But nobody uses it regularly. <code>&lt;sarcasm>Is there something
    wrong with it?&lt;/sarcasm></code></p>

<h2>Half Baked Solution</h2>
 
<p>I am not a language designer, so this is just some odd idea of mine
which may be totally impossible to implement. The underlying problem
arises from more than one thread at a time messing with a bunch of
bytes which must be changed in combination atomically.</p>

<p>Peppering the code with <code>synchronized</code> keywords is one
  way to enforce it.</p>

<p>How about classes such that none of their instances, extending
recursively to their fields, are allowed to be seen by more than one
thread. And add a way of communicating such object's values between
threads explicitly.</p>

<p>One such type of classes are recursively immutable classes. Which
Java does not provide in a way where the compiler enforces it. You
have to manually take care of it.</p>

<p>Another way could
the <a href="https://en.wikipedia.org/wiki/Actor_model">actor
model</a> while also making sure that <a target="_blank"
href="https://stackoverflow.com/q/23564049/2954288">only object's
values and not references to objects</a> are communicated between the
actors, except if the compiler could prove it is OK.</p>

<p>My main point is: the compiler should enforce things. Because, quite
trivially, every mistake the compiler notices is one that I am never
  again going to make.</p>
