<div class="date">2024-06-16</div>
<h1 class="title">Java Wishlist: Union Types</h1>

<blockquote>This is the 2nd entry in my series about my Java wishlist,
the Java features which I would like to see most. Some are already on
the <a href="https://openjdk.org/jeps/0">JEP</a> list, some are
not. The previous entry is:
<ol>
  <li><a href="/2024-06/04.Java_Wishlist:_Thread_Safety.html">Thread Safety</a></li>
</ol>
</blockquote>

<p>Now lets talk about union types. When programming some non-trivial
code in Typescript, I quickly learned to like union types, something
  like</p>

<pre class="lang-ts">
type Stuff = number | boolean | { option: string }
</pre>

<p>And the meaning is pretty much what you expect. When you write</p>

<pre class="lang-ts">
function f(stuff: Stuff): void {
  const lcase = stuff.option.toLowerCase();
}
</pre>

<p>the compiler immediately complains that at this point in the
code <code>stuff</code> is not necessarily an object with
an <code>option</code> field, but may be a number or boolean as
well. You are forced, for good, to first verify what you have, before
  you can access the field. Something like</p>

<pre class="lang-typescript">
if ( typeof stuff === 'object' ) {
  const lcase = stuff.option.toLowerCase();
}
</pre>

<p>And ideally provide some code then to handle the other cases
  too. Though in this particular setting the compiler won't complain
  if you don't.</p>

<p>The union type <code>Stuff</code> quite simply defines that any value
of this type is one of the given types and before accessing such a
  value, code must be provided which can tell what it actually is.</p>

<p>Compare this with Java exception handling:</p>

<pre class="lang-java">
} catch (InterruptedException | ParseException e) {
  if (e instanceof ParseException ee) {
     System.err.println(ee.getErrorOffset());
  }
}
</pre>

<p>It looks much the same: Exception <code>e</code> may be either of two
exception types and access to the method specific
to <code>ParseException</code> is only possible after we have made
  sure at which type exception we are looking.</p>

<p>But exceptions seem to be the only place where we can use this. But
  with the new pattern matching for switch expressions we may also write</p>

<pre class="lang-java">
private static void f(Object value) {
  switch (value) {
    case Integer i -> System.out.println("got Integer: " + i);
    case String s -> System.out.println("got String \"" + s + "\"");
    default -> System.out.println(
        "cannot prevent to get weird type: " + value.getClass());
  }
}
</pre>

<p>Sadly, the best we can do is declare the <code>value</code> parameter
as <code>Object</code>. This forces us to add the <code>default</code>
case with error handling. But, worse, the function prototype does not
advertise that this method is only designed to handle <code>Integer</code>
  and <code>String</code> values. It would just be great to write</p>

<pre class="lang-java">
private static void f(Integer | String value) {
</pre>

<p>similar to the <code>catch</code> clause syntax.</p>

<p>Under some circumstances, the new sealed classes come to the rescue,
  as, depending on use case, we may be able to use something like:</p>

<pre class="lang-java">
sealed static class IorS permits Int, Str {};
static final class Int extends IorS { public int value; }
static final class Str extends IorS { public String value; }

private static void f(IorS value) {
  switch (value) {
    case Int i -> System.out.println("got Integer: " + i.value);
    case Str s -> System.out.println("got String \"" + s.value + "\"");
    case IorS weird -> System.err.println("weird" + weird);
  }
}
</pre>

<p>When using this, we have to obey some rules, though:</p>
<ul>
  <li>We have to add the case for the parent class even though we
    don't intent to ever use it.</li>
  <li>This does not work for interfaces with an arbitrary
  implementation, as a sealed interface also wants to dictate all
    implementing classes, not only derived interfaces. Pity.</li>
</ul>

<p>I am not a language designer, so I can't tell how difficult this would
be to implement or if it is possible at all without introducing
  extremely ugly cases. But well: wishes. :-)</p>
