<div class="date">2024-06-28</div>
<h1 class="title">Java Wishlist: Non Null Type Definitions</h1>

<blockquote>Previous entries in my Java Wishlist series:
  <ol>
    <li><a href="/2024-06/16.Java_Wishlist:_Union_Types.html">Union Types</a></li>
  <li><a href="/2024-06/04.Java_Wishlist:_Thread_Safety.html">Thread Safety</a></li>
</ol>
</blockquote>

<p>I hope I don't need to cite <a target="_blank"
href="https://en.wikipedia.org/wiki/Tony_Hoare#Research_and_career">the
billion dollar mistake</a> or mention that Typescript has
explicit <code>null</code> typing?</p>

<p>Neither do I need to mention that there are <a target="_blank"
href="https://stackoverflow.com/q/4963300/2954288">various annotation
frameworks</a> which allow to annotate a field or parameter as to
whether it may be <code>null</code> or not. Though having half a
gazillion frameworks suggests that you want to use none of them for
compatibility reasons.</p>


<p>The consensus, at least in the "strong typing" community, seems to
be that it is a good thing to explicitly declare whether a value may
be <code>null</code> or not.</p>

<h2>A partial solution is on the way</h2>

<p>Luckily we have <a target="_blank"
  href="https://openjdk.org/jeps/8316779">a draft JEP</a>,
  "Null-Restricted Value Class Types", which will
  provide a partial solution. For <a target="_blank" href="https://openjdk.org/jeps/401">value classes</a>.</p>

<p>In very short terms: an object of a value class "lacks identity",
  meaning (my paraphrasing) the compiler may create byte-for-byte
  copies if it seems useful, like creating an object copy on the stack
  rather than using an object reference. Much like
  an <code>int</code>, as opposed to <code>Integer</code>.</p>

<p>The syntax for non-<code>null</code> values, so far, is an
  exclamation mark suffix on the type:</p>
<pre class="lang-java">
Complex! ipi = new Complex(0, Math.PI);
</pre>

<p>I wish we could have this for every type, not only for value
types.</p>
